<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEI71PNRjFK_T15l-9ZWfYM--bBed2L7E</string>
	<key>GCM_SENDER_ID</key>
	<string>742407555269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taksi.antalya.taksi.rider</string>
	<key>PROJECT_ID</key>
	<string>antalya-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>antalya-taxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742407555269:ios:34150e4ff16f8a44bf88ac</string>
	<key>DATABASE_URL</key>
	<string>https://antalya-taxi-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>